<htmL>

<head>
    <title>Need Help</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="col-sm-8 offset-sm-2">
            <h3>Rules</h3>
            1. Only IMD Admins can register a city.<br> 2. Only City Admins can update the data of the weather of their city.<br> 3. Guest users can only view data and not access it.
            <hr>
            <h3>Doubts</h3>
            1. The username of the city admin is the name of the city with the first letter capital. <br> 2. Guest user can login through the provided link.
            <hr>
            <h3>Links</h3>
            1. To view the weather data of the city for today go to : localhost:8080/[name of the city with the first letter capital]. <br>
            2. To view the weather data of a city for a particular date(yyyy-mm-dd), go to : localhost:8080/[cityName]/[date in the provided format].<br>
        </div>
    </div>
</body>

</htmL>