<html>

<head>
    <title>Update Today's Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/updateData.css">
</head>

<body>
    <div class="container m-5">
        <h1>Update Today's Data</h1>
        <hr>
        <div class="col-sm-6 offset-sm-3">
            <form action="http://localhost:8080/updateData" method="post">
                <div class="form-group">
                    <label>City:</label>
                    <input type="text" class="form-control" value="<%=city%>" readonly="readonly" name="cityName">
                </div>
                <div class="form-group">
                    <label>Date:</label>
                    <input type="text" class="form-control" readonly="readonly" name="date" id="dateText">
                    <small class="text-muted">YYYY-MM-DD</small>
                </div>
                <div class="form-group">
                    <label>Minimum Temperature: (&#8451;)</label>
                    <input type="text" class="form-control" name="minTemp">
                </div>
                <div class="form-group">
                    <label>Maximum Temperature: (&#8451;)</label>
                    <input type="text" class="form-control" name="maxTemp">
                </div>
                <div class="form-group">
                    <label>Humidity: (&#37;)</label>
                    <input type="text" class="form-control" name="humidity">
                </div>
                <div class="form-group">
                    <label>Pressure: (hPa)</label>
                    <input type="text" class="form-control" name="pressure">
                </div>
                <div class="form-group">
                    <label>Wind Speed: (kmph)</label>
                    <input type="text" class="form-control" name="windSpeed">
                </div>
                <div class="form-group">
                    <label>Wind Direction: </label>
                    <select class="form-control custom-select" name="windDirection">
                        <option>Choose...</option>
                        <option>N</option>
                        <option>S</option>
                        <option>E</option>
                        <option>W</option>
                        <option>NE</option>
                        <option>NW</option>
                        <option>SE</option>
                        <option>SW</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Weather Type:</label>
                    <select class="form-control custom-select" name="weatherType">
                        <option>Choose...</option>
                        <option>Sunny</option>
                        <option>Cloudy</option>
                        <option>Rainy</option>
                        <option>Haze</option>
                        <option>Thunderstorms</option>
                    </select>
                </div>
                <button type="submit" class="form-control btn btn-warning">Update Data</button>
            </form>
        </div>
    </div>
</body>
<script src="/js/todayData.js" type="text/javascript"></script>

</html>